<% cache order do %>
  <tr>
    <td><%= order.price %>:-</td>
    <td class="quality"><%= stars(order.quality) %></td>
    <td><%= link_to 'Buy', buy_item_order_path(@item, order), class: 'button' %></td>
  </tr>
<% end %>
