<%= render 'search' %>

<section>
  <div class="sell">
    <h2>Sälja</h2>
    <ul>
      <li>Registrera ett konto</li>
      <li>Sök efter boken du vill sälja</li>
      <li>Ange ditt pris och kvaliteten på boken</li>
    </ul>
  </div>
  <div class="buy">
  <h2>Köpa</h2>
    <ul>
      <li>Sök efter boken du vill köpa</li>
      <li>Välj annons efter önskad kvalitet och pris.</li>
      <li>Kontakta säljaren</li>
    </ul>
  </div>
</section>

<h3>Klart!</h3>
