<%= render 'search' %>

<section class="info">
  <div class="sell">
    <ul>
      <% t(:sell_info).each do |info| %>
        <li><%= info %></li>
      <% end %>
    </ul>
  </div>
  <div class="buy">
    <ul>
      <% t(:buy_info).each do |info| %>
        <li><%= info %></li>
      <% end %>
    </ul>
  </div>
</section>
