<%= render 'search' %>

<% @items.each do |item| %>
  <%= link_to(item, class: 'result') do %>
    <h2><%= item.name %></h2>
    <% item_properties(item) do |_, value| %>
      <span><%= value %></span>
    <% end %>
  <% end %>
<% end %>
