html.apple {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 100;
  letter-spacing: 1px;

  @include mobile {
    font-weight: 200;
  }

  em {
    font-weight: 200;

    @include mobile {
      font-weight: 300;
    }
  }

  // Reset letter-spacing for small text
  .info, .application.about > div {
    letter-spacing: normal;
  }
}
