html {
  @include prefixer(hyphens, auto, webkit moz ms spec);
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

body {
  border-top: 3px solid $main_color;
  font-size: 150%;
}

a {
  color: inherit;
  text-decoration: inherit;

  &:visited {
    color: inherit;
    text-decoration: inherit;
  }
}

em {
  font-style: normal;
  font-weight: 400;
}

th, input, body, h1, h2, h3 {
  font-weight: inherit;
}

* {
  @include prefixer(box-sizing, border-box, webkit moz spec);
}

@include mobile {
  html {
    font-size: 80%;
  }

  h1 {
    font-size: 1.5em;
  }
}

@include large {
  html {
    font-size: 140%;
  }
}
