@font-face {
  font-family: 'Bokhyllan';
  font-style: normal;
  font-weight: 100;
  src: font-url('Bokhyllan-ExtraLight.otf');
}

body {
  border-top: 3px solid $main_color;
  font-family: Bokhyllan, sans-serif;
}

a {
  color: black;
  text-decoration: none;

  &:visited {
    color: black;
    text-decoration: none;
  }
}

th, input, body, h1, h2, h3 {
  font-weight: 100;
}

* {
  @include prefixer(box-sizing, border-box, webkit moz spec);
}

@mixin column($numerator, $denominator: 1) {
  width: $numerator / $denominator * 100%;
  float: left;
}

@mixin mobile() {
  @media screen and (max-width: 600px) {
    @content;
  }
}
