body {
  border-top: 3px solid $main_color;
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  color: black;
  text-decoration: none;

  &:visited {
    color: black;
    text-decoration: none;
  }
}

em {
  font-style: normal;
  font-weight: 400;
}

th, input, body, h1, h2, h3 {
  font-weight: 200;
}

* {
  @include prefixer(box-sizing, border-box, webkit moz spec);
}

@mixin column($numerator, $denominator: 1) {
  width: $numerator / $denominator * 100%;
  float: left;
}

@mixin mobile() {
  @media screen and (max-width: 550px) {
    @content;
  }
}

@include mobile {
  html {
    font-size: 14px;
  }

  h1 {
    font-size: 2rem;
  }
}
