footer {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 0.8em;
  color: #aaa;

  a {
    color: #aaa !important;
    @include transition(400ms color);

    &:hover {
      color: black !important;
    }
  }
}
