.items.show, .orders.create {
  .properties {
    @include column(1);
  }

  div ~ .properties {
    @include column(3, 4);

    @include mobile {
      @include column(1);
    }
  }

  .image {
    text-align: center;
    @include column(1, 4);

    img {
      max-width: 100%;
      box-shadow: 2px 2px 2px #888;
    }

    @include mobile {
      @include column(1);
    }
  }

  .list {
    padding-right: 2rem;
  }

  .new-order {
    padding-left: 2rem;
  }

  .list, .new-order {
    @include column(1, 2);

    @include mobile {
      @include column(1);
      padding: 0;
      text-align: center;
    }
  }

  .new-order {
    @include mobile {
      margin-top: 0.5rem;
    }
  }
}
