.orders.show {
  .properties {
    @include column(1);
  }

  div ~ .properties {
    @include column(2, 3);

    @include mobile {
      @include column(1);
    }
  }

  .hero {
    @include column(1, 3);
    text-align: center;

    .price {
      font-size: 6.7rem;
    }

    .stars {
      font-size: 1.8rem;
    }

    @include mobile {
      @include column(1);
    }
  }

  .contact-information {
    @extend .properties;
    @include column(2, 3);

    @include mobile {
      @include column(1);
    }
  }

  .related {
    @include column(1);
  }
}
