$search-height: 45px;
$search-padding: 9px;

.search {
  @include clearfix();
  padding-top: $search-padding;
  padding-bottom: $search-padding;
  width: 100%;
  border: 1px solid #ccc;
  position: relative;
  height: $search-height + $search-padding * 2;
  font-size: 1.5em;

  input[type="text"], input[type="submit"] {
    position: absolute;
  }

  input[type="text"] {
    width: 100%;
    padding: 0 0 0 $search-padding;
  }

  input[type="submit"] {
    height: $search-height;
    float: right;
    color: #ccc;
    right: 0;
    padding: 0;
    padding-right: $search-padding;
    background-color: white;
    @include transition(400ms color);

    &:hover {
      color: black;
    }
  }

  & + div {
    position: relative;
    width: 100%;

    div {
      position: absolute;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.95);

      a {
        display: block;
        padding: 9px;
        border-bottom: 1px solid #eeeeee;

        margin-top: 0.1em;
        margin-bottom: 0.1em;

        span {
          display: block;
          font-size: 0.8em;
          color: #333;
        }

        em {
          font-style: normal;
          font-weight: bold;
        }

        &:last-of-type {
          border-bottom: none;
        }
      }
    }
  }
}
