$search-height: 1.25em;
$search-padding: 0.25em;

.search {
  @include clearfix();
  padding-top: $search-padding;
  padding-bottom: $search-padding;
  width: 100%;
  border: 1px solid #ccc;
  position: relative;
  height: $search-height + $search-padding * 2;
  font-size: 1.5em;

  input[type="text"], input[type="submit"] {
    position: absolute;
  }

  input[type="text"] {
    width: 100%;
    padding: 0 $search-padding 0 $search-padding;
  }

  input[type="submit"] {
    @include search;
    height: $search-height;
    float: right;
    color: #ccc;
    right: 0;
    margin-right: $search-padding;
    padding: 0;
    background-color: white;

    @include mobile {
      display: none;
    }
  }

  & + div {
    position: relative;
    width: 100%;

    div {
      position: absolute;
      width: 100%;
      background-color: white;

      a {
        display: block;
        padding: 9px;
        border-bottom: 1px solid #eeeeee;

        margin-top: 0.1em;
        margin-bottom: 0.1em;

        span {
          display: block;
          font-size: 0.8em;
          color: #333;
        }

        &:last-of-type {
          border-bottom: none;
        }
      }
    }
  }
}
