.properties {
  td:first-of-type {
    text-align: right;
    font-size: 0.8em;
    width: 25%;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;

  th, td {
    padding: 0.4em;
    text-align: left;
  }

  th {
    font-size: 0.8em;
  }

  //  TODO fix font for stars
  .quality {
    font-size: 0.7em;
    color: #333;
  }

  .remove {
    @include thrash;

    &:hover {
      @include thrash_red;
    }
  }

  .arrow {
    @include arrow;
  }

  &.hover tbody {
    tr {
      @include transition(400ms background-color);

      .arrow {
        @include transition-property(transform);
        @include transition-duration(400ms);
      }

      &:hover {
        background-color: rgb(245, 245, 245);

        .arrow {
          @include transform(translateX(6px));
        }
      }
    }
  }

  @include mobile {
    font-size: 0.95em;

    th, td {
      padding: 0.15em;
    }
  }
}
