.users {
  &.sign_in, &.users.create, &.users.reset {
    & > div:first-of-type {
      padding-right: 2rem;
      border-right: 1px solid #eee;
    }

    & > div:last-of-type {
      padding-left: 2rem;
    }

    & > div {
      @include column(1, 2);
      padding-top: 1rem;
      padding-bottom: 1rem;

      @include mobile {
        @include column(1);
        padding: 0 !important;
        border: none !important;
      }
    }
  }

  .reset {
    display: inline;
    width: auto;
    white-space: normal;
    text-align: left;
    font-size: 1em;
  }

  .remove {
    @include transition(color 400ms, text-shadow 400ms);

    &:hover {
      text-shadow: 0px 0px 3px rgba(255, 0, 0, 0.6);
      color: red;
    }
  }
}
